@media only screen and (min-width: 35rem) {

  /* HEADER */

  header {
    display: grid;
    grid-template-columns: 120px 50vw;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    text-align: center;

  }

  nav button {
    display: none;
  }

  nav ul {
    justify-content: center;
    display: flex;
    margin-left: 2vw;

  }

  /* side note to look in too */
  /* I tried to use nth child. I couldn't make it work.
  nav ul li a:nth-child(4) */
  .one {
    border-right: none;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, .3);
  }


  /* footer grid */
  footer {
    text-align: center;
    display: grid;
    grid-template-columns: 120px 20vw;
    grid-template-rows: auto;
  }

  footer img {
    margin: auto;
    grid-row: span 2;
  }

  .chamberInfo {
    text-align: left;
    grid-column: span 1;
    grid-row: span 2;
  }

  .footer_right {
    display: flex;
    text-align: right;
    grid-column: span 2;
    justify-content: flex-end;
  }

  .creatorInfo {
    grid-column: span 4;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: #FFBF69;
  }


}