@media screen and (min-width: 1028px) {

  header,
  footer,
  nav,
  main {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 75rem;
    margin: auto;
    column-count: 3;

  }

  main section:nth-child(3) {
    grid-column: span 1;
  }

  main figure {
    width: 100%;
  }
}

/*end of media query