@media screen and (min-width: 560px) {
  body {
    grid-column: 1fr 1fr;
    column-gap: 3em;
  }

  main section:nth-child(1) {
    widths: ;
  }


  main section:nth-child(3) {
    grid-column: span 2;
  }



  main figure img {
    width: 100%;
    padding: .5em;
  }


}

/*end of media query