body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  padding: 2em;

}

header {
  background-color: darkorange;
  padding: 1em;
  margin: 1rem 2%;
  font-family: 'Comforter', sans-serif;
  text-align: center;
}

body img {
  border: 2px solid black;
  background-color: lightgrey;
  /* padding: 3em; */
}



h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: goldenrod;
  padding: 1em;
  text-align: center;
}

h2 {
  background-color: darkgoldenrod;
}

p {
  background-color: gold;
  margin-top: 0px;
  padding: 1em;

}




main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
}

main section {
  margin: 0.5rem;
  border: 2px solid black;
  background-color: grey;
  padding: 1rem;
}

main h1 {
  color: darkorange;
}

main figure img {
  width: 75%;
  padding: 1em;
  /* float: lesft; */

}

main figcaption {
  background-color: lightgrey;
  border: 1px solid black;
  text-align: center;
  font-size: 1.3rem;
  padding: .5em;
}

main figure {
  width: 100%;
  margin: 0;
}


footer {
  /* position: absolute bottom; */
  text-align: center;
  padding: 1rem 2%;
  margin: 1rem 2%;
  background-color: darkorange;

}

image {
  margin: 5px, auto;
}