body {
  font-size: 15pt;
  line-height: 1.5;
}

header,
main,
footer {
  padding-bottom: 10px;
  max-width: 800px;
  margin: 1.5rem auto;
}

header {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: rgba(19, 214, 165, 0.884);
  padding: 2.5rem;
  display: block;
  align-items: center;
  text-align: center;
}

main ul {
  list-style-type: none;
  text-align: center;
}

.lessonPractice {
  padding-top: 0px;
}

header img {
  float: left;
  margin: 10px;
  border: 4px solid rgba(19, 214, 165, 0.884);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}